NODE_ENV=development
PORT=4000

MONGO_URI=mongodb://test:test@mongodb:27017/test?authSource=admin

JWT_SECRET=test
JWT_EXPIRE=7d
COOKIE_EXPIRE=5

CLOUDINARY_NAME=test
CLOUDINARY_API_KEY=test
CLOUDINARY_API_SECRET=test

SENDGRID_API_KEY=test
SENDGRID_MAIL=test
SENDGRID_RESET_TEMPLATEID=test
SENDGRID_ORDER_TEMPLATEID=test

STRIPE_API_KEY=test
STRIPE_SECRET_KEY=test

NEXT_PUBLIC_API_URL=http://localhost:4000/api

MONGO_INITDB_ROOT_USERNAME=test
MONGO_INITDB_ROOT_PASSWORD=test
MONGO_INITDB_DATABASE=test
